.cargo
.DS_Store
.tmp
.env
.vscode
.db

build

**/hyperlane_db
**/target
/tmp
pgo-data.profdata
proof_storage/

hyperlane/hyp

# Node.js
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*